<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784108149026-vnhagauh5g3hkrd8agv7l6kaaoj66lne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784108149026-vnhagauh5g3hkrd8agv7l6kaaoj66lne</string>
	<key>API_KEY</key>
	<string>AIzaSyAp_xECO-OC7zWBu1nBLPRJ8-5zLHKGR5w</string>
	<key>GCM_SENDER_ID</key>
	<string>784108149026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Blake.InStaCloneSnapKit</string>
	<key>PROJECT_ID</key>
	<string>instaclonesnapkit</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonesnapkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:784108149026:ios:758fe2d5b86c9e38ab6d7b</string>
</dict>
</plist>
